@page
@model IndexModel
@{
ViewData["Title"] = "Fizz Buzz";
}
<div class="text-center">
<h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>
        <label asp-for="FizzBuzz.Number"></label>
        <input asp-for="FizzBuzz.Number" /><br />
        <button type="submit">Zatwierdź</button>
        @if (ViewData["a"] == "Fizz")
        {
            <div class="alert alert-success" role="alert">
                Fizz
            </div>
        }
        
         @if (ViewData["a"] == "FizzBuzz")
        {
            <div class="alert alert-success" role="alert">
                FizzBuzz
            </div>
        }
         @if (ViewData["a"] == "Buzz")
        {
            <div class="alert alert-success" role="alert">
                Buzz
            </div>
        }
         @if (ViewData["a"] == "nieFajnaLiczba")
        {
            <div class="alert alert-danger" role="alert">
                FizzBuzzn't
            </div>
        }

    </form>
</div>