@page
@using trololo.Pages
@model SavedInSessionModel
@{
ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@foreach (var item in Model.FizzBuzzList.lista)
{
 <p class="userData">@item.Imie , @item.Number - @item.Przestepca()</p>
}